.signup-page {
    background: url('../assets/food-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: auto 0;
}

.dreamteam-logo {
    max-height: 30%;
    max-width: 30%;
}

.signup-modal {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.12);
    border: 1px solid #dbe5ec;
    overflow: hidden;
    background-clip: padding-box;
    border-radius: 6px;
    transition: all .25s ease-in;
    width: 400px;
    height: 400px;
    margin: 30% auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.input {
    padding: 8.85px 13px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 3px;
}

.button-signup {
    padding: 8.85px 13px;
    font-size: 14px;
    margin: 5px auto;
    width: 100%;
    color: #ffffff;
    border-radius: 3px;
    background: linear-gradient(215deg, #546e7a, #37474f)
}